body{
    background-color:#EFEAE7;
}

.bar{
    z-index: 1000;
    top: 0;
    overflow: hidden;
}

/* weekly specials card */
.card-bg{
    background-color: #198754;
    color: #fff;
}

.hedname{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.swiper {
    width: 100%;
    height: 100%;
  }